<!DOCTYPE html>
<html>

<head>
    <title>Node Course-404</title>
    <link rel="icon" href="./img/error.jpg">
    {{!-- <link rel="stylesheet" href="http://localhost:3000/css/styles.css"> --}}
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{error}}</h1>
    </div>
    {{>footer}}
</body>

</html>